* {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
body, html {
  height: 100%;
}
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition-property: opacity transform;
  position: fixed;
  width: 100%;
}
.slide-right-leave-to,
.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-right-enter,
.slide-left-leave-to {
  opacity: 0;
  transform: translate3d(0, 0, 0);
}
